@page "/"

<PageTitle>Xusan 🏃‍♂️</PageTitle>

<a href="https://localhost:7080/sanash">Sanash sahisafi</a>
<a href="fetchdata">Fetch Data sahifasi</a>

<Link Url="/fetchdata" Title="Fetch Data" Class="btn btn-secondary"></Link>

@for(int i = 0; i < 100; i++)
{
    <h1>Hello, world! @i</h1>
}

