@page "/quiz"

<PageTitle>@Title</PageTitle>

<div class="row">
    <div class="col-md-4 card shadow-lg mt-5 mx-auto px-0">
        <div class="progress progress-bar" role="progressbar" style="width: @TimeLeft%; height: 3px" aria-valuenow="@TimeLeft" aria-valuemin="0" aria-valuemax="100"></div>
        @* <img src="https://avatars.dicebear.com/api/adventurer/your-custom-seed.svg" class="card-img-top" alt="..."> *@
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>